<breadcrumb titles="[{name: 'Buttons', link:'#/buttons'}]"></breadcrumb>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Button colors</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-default">default</button>
        <button class="btn btn-primary">primary</button>
        <button class="btn btn-danger">danger</button>
      </div>
      <div class="panel-footer">
        <p>Buttons have no borders</p>
        <p>Danger buttons are used only in modal windows with delete function.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Button sizes</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-primary btn-sm">small</button>
        <button class="btn btn-primary">Default</button>
        <button class="btn btn-primary btn-lg">Large</button>
      </div>
      <div class="panel-footer">
        <p>Floating buttons are always large</p>
        <p>Use small buttons in for table actions</p>
        <p>By default use default size</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Floating buttons</h3>
      </div>
      <div class="panel-body">
        <div>
          <button class="btn btn-default btn-lg btn-floating">Floating default button</button>
          <button class="btn btn-primary btn-lg btn-floating">Floating success button</button>
        </div>
      </div>
      <div class="panel-footer">
        <p>
          Classes for floating buttons:
          <ul>
            <li><code>.btn</code> <code>.btn-lg</code> <code>.btn-floating</code></li>
            <li>One between <code>.btn-default</code> <code>.btn-primary</code> <code>.btn-success</code> <code>.btn-warning</code> or <code>.btn-danger</code></li>
          </ul>
        </p>
        <p>Put floating buttons in a custom <code>.ba-form-buttons</code>
          <ul>
            <li><samp>position: fixed;</samp></li>
            <li><samp>bottom: 10px;</samp></li>
            <li><samp>right: 10px;</samp></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
