<h3>Color scheme</h3>
<div class="row">
  <div class="col-md-12">
    <blockquote>Fabulous design is useless, if you can't read the content. <a href="http://contrastrebellion.com">Read more</a></blockquote>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Main colors</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="ba-color-box-wrapper main">
              <div class="ba-color-box-descr">
                Main<br>
                #FF9100<br>
                rgb(255, 145, 0)
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ba-color-box-wrapper accentlight">
              <div class="ba-color-box-descr">
                Accent light<br>
                #CCA314<br>
                rgb(204, 163, 20)
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ba-color-box-wrapper accentdark">
              <div class="ba-color-box-descr">
                Accent dark<br>
                #99843D<br>
                rgb(153, 132, 61)
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="ba-color-box-wrapper blackprimary">
              <div class="ba-color-box-descr">
                Black primary<br>
                #424242<br>
                rgb(66, 66, 66)
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ba-color-box-wrapper blacksmooth">
              <div class="ba-color-box-descr">
                Black smooth<br>
                #656565<br>
                rgb(101, 101, 101)
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="ba-color-box-wrapper background">
              <div class="ba-color-box-descr">
                Background<br>
                #F5F5F5<br>
                rgb(245, 245, 245)
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <p>Use main color for links (<code>:link</code>, <code>:active</code>, <code>:visited</code>) and accent light for <code>:hover</code>.</p>
        <p>Sidebar: main color for <code>:hover</code></p>
      </div>
    </div>
  </div>
</div>
