<breadcrumb titles="[]"></breadcrumb>
<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="page in pages">
        <a ng-href="{{page.link}}">
          <div class="ba-tile" ng-class="{'inactive': page.inactive}">
            <div class="ba-tile-content">
              {{page.description}}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Developer Guidelines</h3>
      </div>
      <div class="panel-body">
        <p>Welcome to the developer user guidelines.</p>
        <p>Please remember, that developer guidelines are still a work in progress. Here some open points:</p>
          <ul>
            <li>Navigation bar</li>
            <li>Icons</li>
            <li>Charts</li>
          </ul>
      </div>
    </div>
  </div>
</div>
