<h3>Single column form</h3>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Single column form</h3>
      </div>
      <div class="panel-body">
        <form class="form" role="form">
          <div class="form-group">
            <label class="control-label">Mandatory field always with star *</label>
            <input type="text" placeholder="border of mandatory field is rgb(40, 40, 40)" class="form-control ba-mandatory">
          </div>
          <div class="form-group">
            <label class="control-label">Optional field</label>
            <input type="text" placeholder="Optional fields are light gray (default)" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label">Disabled</label>
            <input type="text" placeholder="Change backgroud color to rgb(245, 245, 245)" class="form-control" disabled>
          </div>
          <div class="form-group has-error">
            <label class="control-label">Input with error</label>
            <input type="text" placeholder="Location" class="form-control">
          </div>
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox"> This is a checkbox
            </label>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <p>This is the default form type</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Notes</h3>
      </div>
      <div class="panel-body">
        <p>Forms are stacked and within panels</p>
        <p>Modification of <code>.form-control</code>:</p>
        <ul>
          <li><samp>border-radius: 1px;</samp></li>
          <li><samp>padding-left: 5px</samp></li>
          <li><samp>padding-right: 5px</samp></li>
        </ul>
        <p>Inputs:</p>
        <ul>
          <li>Mandatory fields have a * on label</li>
          <li>Border of mandatory fields is <samp>rba(40, 40, 40)</samp></li>
          <li><code>input:focus</code> with <samp>border-color: rgb(255, 145, 0)</samp></li>
          <li>No input with warning or success. Use only error fields</li>
        </ul>
        <p>Put save and cancel buttons in a div with class <code>.ba-form-buttons</code></p>
      </div>
    </div>
  </div>
</div>


<div class="ba-form-buttons">
  <button class="btn btn-default btn-lg btn-floating">Cancel</button>
  <button class="btn btn-success btn-lg btn-floating">Save</button>
</div>
