<breadcrumb titles="[{name: 'Forms', link:'#/forms'}, {name: 'Double panel', link:'#/forms/formsDoublePanel'}]"></breadcrumb>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Two single column forms</h3>
      </div>
      <div class="panel-body">
        <form class="form" role="form">
          <div class="form-group">
            <label class="control-label">Username</label>
            <input type="text" placeholder="username" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label">Family name</label>
            <input type="text" placeholder="family name" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label">First name</label>
            <input type="text" placeholder="first name" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label">Confirm *</label>
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox"> <span class="fa fa-check"></span>I confirm, that that's me
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <p>Use multiple panels if forms are contextually different</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Two single column forms</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label">Number of pets</label>
          <input type="number" placeholder="" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Do you like pizza?</label>
          <input type="text" placeholder="" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">What is your favorite colour?</label>
          <div class="radio c-radio">
            <label>
              <input type="radio" value="red" name="fcolor"> <span class="fa fa-circle"></span>Red
            </label>
          </div>
          <div class="radio c-radio">
            <label>
              <input type="radio" value="green" name="fcolor"> <span class="fa fa-circle"></span>Green
            </label>
          </div>
          <div class="radio c-radio">
            <label>
              <input type="radio" value="blue" name="fcolor"> <span class="fa fa-circle"></span>Blue
            </label>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <p>These are complementary information to the left form</p>
      </div>
    </div>
  </div>
</div>

<div class="ba-form-buttons">
  <button class="btn btn-default btn-lg btn-floating">Cancel</button>
  <button class="btn btn-primary btn-lg btn-floating">Save</button>
</div>
