<h3>Forms</h3>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Form types</h3>
      </div>
      <div class="panel-body">
        <p>We have three types of forms:
          <ul>
            <li><a href="#/formsSingleColumn">Single column form</a>: default form</li>
            <li><a href="#/formsDoubleColumn">Two columns form</a>: an alternative form</li>
            <li><a href="#/formsDoublePanel">Two panels form</a>: splitted form</li>
          </ul>
        <p>
      </div>
    </div>
  </div>
</div>
