<h3>Symbols and icons</h3>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Fontawesome</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-edit"></i> Edit
          </div>
          <div class="col-md-3">
            <i class="fa fa-trash"></i> Delete
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
