<breadcrumb titles="[{name: 'Notifications', link:'#/notifications'}]"></breadcrumb>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Notifications</h3>
      </div>
      <div class="panel-body">
        <p>Use notifications to inform users about the result of background actions. Typically,
          this involves asyncronous/server data manipulations like delete, insert or update.</p>
        <p>Please, use <a href="https://github.com/jirikavi/AngularJS-Toaster" target="_blank">AngularJS Toaster</a> (as part of Angle)
        and set timeout to 0, so that user must actively dismiss notification.</p>
        <button class="btn btn-primary" ng-click="errorNotififcation()">Error notification</button>
        <button class="btn btn-primary" ng-click="successNotification()">Success notification</button>
      </div>
    </div>
  </div>
</div>

<toaster-container toaster-options="{'time-out': 0}"></toaster-container>
