<h3>Typography</h3>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Headlines and paragraph</h3>
      </div>
      <div class="panel-body">
        <h1>Headline 1</h1>
        <h2>Headline 2</h2>
        <h3>Headline 3</h3>
        <h4>Headline 4</h4>
        <h5>Headline 5</h5>
        <p>Our font family is <a href="https://www.google.com/fonts/specimen/Lato" target="_blank">Lato</a> and the baseline is 14 points.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Blockquotes</h3>
          </div>
          <div class="panel-body">
            <blockquote>
              Use blockquote to quote someone or if you want highlight a message
            </blockquote>
          </div>
          <div class="panel-footer">
            <samp>border-left-color: #FF9100;</samp>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Addresses</h3>
          </div>
          <div class="panel-body">
            <address>
              <strong>Barto</strong><br>
              c/o Identitas<br>
              Stauffacherstrasse 130A<br>
              CH-3014 Bern
            </address>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
